* {
  margin: 0;
  padding: 0;
}

section {
  padding: 50px;
  /* background-color: rgb(224, 224, 224); */
}



.todo {
  box-shadow: 2px 5px 5px 3px rgb(185, 185, 185);
  border-radius: 20px;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  padding-bottom: 0;
  /* padding-bottom: 40px; */
}

.logo h1 {
  font-size: 50px;
  font-weight: bold;
  color: #646464;
  cursor: pointer;
}

.plusIcon h1 {
  font-size: 3rem;
  font-weight: bold;
  padding-right: 50px;
  color: #646464;
  cursor: pointer;
}

.content-section {
  display: flex;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}


.content-section .list-section {
  width: 25%;
  /* background-color: #d1e5f7; */
}

.content-section .task-section {
  width: 75%;
  /* background-color: #ffcece; */
  display: flex;
  flex-wrap: wrap;
}

.task-section-1 {
  width: 40%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 50px;
}

.task-1 {
  background-color: #fff9de;
  padding: 10px;
  border-radius: 5px;
}


.work,
.study,
.entertainment,
.family {
  display: flex;
  padding: 10px;
  padding-left: 50px;
}

.work:hover,
.study:hover,
.entertainment:hover,
.family:hover {
  background-color: #f6f3f3;
  border-radius: 10px;
}

.work:active,
.study:active,
.entertainment:active,
.family:active {
  background-color: #f6f3f3;
}

.work p,
.study p,
.entertainment p,
.family p {
  height: 25px;
  width: 25px;
  border-radius: 100%;
}

.work p {
  background-color: #d2ceff;
}

.study p {
  background-color: #d1e5f7;
}

.entertainment p {
  background-color: #ffcece;
}

.family p {
  background-color: #daf2d6;
}

.work a,
.study a,
.entertainment a,
.family a {
  margin-left: 20px;
  text-decoration: none;
  color: #6d6d6d;
  font-size: 20px;
}

.checkbox {
  padding-top: 30px;
  display: flex;
  padding-left: 40px;
}

.checkbox span {
  margin-left: 30px;
  color: #6d6d6d;
}

input.hide-checkbox {
  margin-left: 10px;
  width: 20px;
  height: 20px;
}


.task-bootom-1 {
  display: flex;
  justify-content: space-between;
}



.bottom-left-1 {
  display: flex;
  gap: 15px;
}

.bottom-left-1 p {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin-top: 15px;
}

input {
  height: 20px;
  width: 20px;
}

.check {
  display: flex;
  align-items: center;
  padding-top: 20px;
  gap: 10px;
}

.p1 {
  background-color: #d2ceff;
}

.p2 {
  background-color: #d1e5f7;
}

.p3 {
  background-color: #ffcece;
}

.p4 {
  background-color: #daf2d6;
}

.task-top1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.hover-effect {
  cursor: pointer;
  z-index: 0;
}

.task-top1 {
  position: relative;
}

.hover {
  position: absolute;
  right: 0px;
  top: 20px;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
  color: gray;
}

.hover .edit {
  padding: 10px 50px;
  padding-left: 10px;
}

.hover .delete {
  padding: 10px 50px;
  padding-left: 10px;
}

.plusIcon {
  position: relative;
}

.form {
  width: 500px;
  border-radius: 10px;
  position: absolute;
  top: 40px;
  right: 0px;
  background-color: #dddbd9;
  z-index: 1000;
}

form {
  width: 100%;
  padding-bottom: 10px;
}

.input-sec {
  padding: 0px 20px;
}

.input-sec input {
  width: 100%;
  padding: 10px 0;
  padding-left: 10px;
  border: none;
  margin-bottom: 20px;
  border-radius: 10px;
}

textarea {
  width: 100%;
  padding: 10px 0;
  padding-left: 10px;
  border: none;
  border-radius: 10px;
}

.btn-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

}

.btn-cancle {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
}

.btn-add {
  padding: 5px 20px;
  border-radius: 5px;
  border: none;
  background-color: #646464;
  color: white;
}

.tags h2 {
  padding-top: 20px;
  padding-left: 20px;
}

.tags-items {
  display: flex;
  padding: 0px 10px;
}

.tags-items a {
  font-size: 16px;
}

.tags h2 {
  color: #4f4e4e;
}

.edit-btn {
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  background-color: #646464;
  color: white;
}

.done {
  text-decoration: line-through;
}

.task-txt-1 {
  width: 100%;
  word-break: break-all;
}

.task-txt-1 p {
  padding-right: 20px;
}

.title-text {
  width: 100%;
  padding-right: 20px;
  word-break: break-all;
}

/* Loading page */
.loading-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.load {
  font-size: 7rem;
  color: gray;
  display: inline-block;
  position: relative;
}

.load::before {
  content: '';
  position: absolute;
  bottom: 50px;
  left: 0px;
  height: 10px;
  width: 0;
  background-color: gray;
  animation: borderFlow 2s linear infinite;
}

@keyframes borderFlow {
  0% {
    width: 0;
  }

  100% {
    width: 110%;
  }
}
/* get-started page */

.get-started {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: all 2s;
  animation: get 2s ;
}
@keyframes get {
  0% {opacity: .1;}
  10% {opacity: .2;}
  20% {opacity: .3;}
  30% {opacity: .4;}
  40% {opacity: .5;}
  50% {opacity: .6;}
  60% {opacity: .7;}
  70% {opacity: .8;}
  80% {opacity: .9;}
  100%{opacity: 1;}
}

.get {
  text-align: center;
}

.get h1 {
  font-size: 7rem;
  letter-spacing: 10px;
}

.get h1 .t {
  color: #c3befa;
}

.get h1 .o {
  color: #badaf7;
}

.get h1 .d {
  color: #f9acac;
}

.get h1 .oo {
  color: #c9fcc0;
}

.get p {
  width: 400px;
  color: gray;
}

.get-btn {
  padding: 15px 50px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: x-large;
  border-radius: 10px;
  background-color: #4f4e4e;
  color: white;
  border: none;
  text-decoration:none;
}



/* Media Query */
@media (max-width:1368px) {
  .content-section .task-section {
    width: 100%;
  }

  .task-section-1 {
    width: 100%;
  }
}

@media (max-width:992px) {
  .content-section {
    display: block;
    padding: 0;
  }

  .content-section .list-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .work a,
  .study a,
  .entertainment a,
  .family a {
    margin-left: 10px;
    font-size: 16px;
  }

  .checkbox {
    display: none;
  }

  .content-section .task-section {
    width: 100%;
    /* display:block;
    flex-wrap:nowrap; */
  }

  .task-section-1 {
    width: 100%;
  }

  .topbar {
    padding: 10px;
  }

  .plusIcon h1 {
    padding: 0;
  }

  .logo h1 {
    padding: 0;
  }

  .form {
    width: 400px;
    position: absolute;
    top: 50px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tags h2 {
    padding-top: 10px;
    padding-left: 10px;
  }

  .tags-items {
    display: flex;
    padding: 0px 5px;
  }

  .tags-items a {
    font-size: 14px;
  }

  .task-section-1 {
    padding: 20px;
  }
}

@media (max-width:768px) and (max-width:991px) {
  section {
    padding: 40px;
  }

  .load {
    font-size: 6rem;
  }
  .get h1 {
    font-size: 6rem;
  }
  
  .get-btn {
    padding: 10px 40px;
  }
  

  .load::before {
    content: '';
    position: absolute;
    bottom: 40px;
    left: 0px;
    height: 10px;
    width: 0;
    background-color: gray;
    animation: borderFlow 2s linear infinite;
  }

  .plusIcon h1 {
    padding: 0;
    font-size: 40px;
  }

  .logo h1 {
    padding: 0;
    font-size: 40px;
  }

  .work,
  .study,
  .entertainment,
  .family {
    padding-left: 0px;
  }

  .work a,
  .study a,
  .entertainment a,
  .family a {
    margin-left: 10px;
    font-size: 16px;
  }

  .work p,
  .study p,
  .entertainment p,
  .family p {
    height: 20px;
    width: 20px;
    border-radius: 100%;
  }

  .bottom-left-1 p {
    height: 20px;
    width: 20px;
  }

  input {
    height: 15px;
    width: 15px;
  }

  .task-section-1 {
    padding: 15px;
  }

  .form {
    width: 400px;
    position: absolute;
    top: 50px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tags h2 {
    padding-top: 5px;
    padding-left: 5px;
  }

  .tags-items {
    display: flex;
    padding: 0px 5px;
  }

  .tags-items a {
    font-size: 14px;
  }
}

@media (max-width:600px) and (max-width:767px) {
  section {
    padding: 30px;
  }

  .load {
    font-size: 5rem;
  }

  .load::before {
    content: '';
    position: absolute;
    bottom: 35px;
    left: 0px;
    height: 8px;
    width: 0;
    background-color: gray;
    animation: borderFlow 2s linear infinite;
  }
  .get h1 {
    font-size: 5rem;
  }
  
  .get-btn {
    padding: 10px 30px;
    font-size: larger;
  }
  
  .topbar {
    padding-bottom: 20px;
  }

  .task-section {
    padding-top: 10px;
  }

  .plusIcon h1 {
    padding: 0;
    font-size: 30px;
  }


  .logo h1 {
    padding: 0;
    font-size: 30px;
  }

  .work,
  .study,
  .entertainment,
  .family {
    padding-left: 0px;
  }

  .work a,
  .study a,
  .entertainment a,
  .family a {
    margin-left: 5px;
    font-size: 12px;
  }

  .work,
  .study,
  .entertainment,
  .family {
    padding: 5px 5px;
  }

  .work p,
  .study p,
  .entertainment p,
  .family p {
    height: 20px;
    width: 20px;
  }

  .bottom-left-1 p {
    height: 20px;
    width: 20px;
  }

  input {
    height: 15px;
    width: 15px;
  }

  .task-1 {
    padding: 5px;
  }

  .task-section {
    width: 100%;
    padding-bottom: 20px;
  }

  .task-section-1 {
    padding: 0px 10px;
    margin-bottom: 5px;
  }

  .task-bootom-1 {
    display: flex;
    justify-content: space-between;
  }

  .bottom-left-1 {
    display: flex;
    gap: 10px;
  }

  .bottom-left-1 p {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-top: 15px;
  }

  .check {
    display: flex;
    align-items: center;
    padding-top: 20px;
    gap: 10px;
  }

  .check input {
    height: 14px;
    width: 14px;
  }

  .check span {
    font-size: 14px;
  }


  .form {
    width: 300px;
    position: absolute;
    top: 30px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .input-sec {
    padding: 0px 20px;
  }

  .input-sec input {
    width: 100%;
    padding: 5px 0;
    padding-left: 10px;
    border: none;
    margin-bottom: 20px;
    border-radius: 5px;
  }

  textarea {
    width: 100%;
    padding: 5px 0;
    padding-left: 10px;
    border-radius: 5px;
  }

  .tags h2 {
    padding-top: 0px;
    text-align: center;
    font-size: 20px;
  }

  .tags-items {
    display: block;
  }

  .tags-items a {
    font-size: 12px;
  }

  .hover .edit {
    padding: 5px 30px;
    padding-left: 10px;
  }

  .hover .delete {
    padding: 5px 30px;
    padding-left: 10px;
  }
}


@media (max-width:376px) {
  section {
    padding: 20px;
  }

  .load {
    font-size: 4rem;
  }

  .load::before {
    content: '';
    position: absolute;
    bottom: 25px;
    left: 0px;
    height: 7px;
    width: 0;
    background-color: gray;
    animation: borderFlow 2s linear infinite;
  }
  .get h1 {
    font-size: 4rem;
  }
  
  .get-btn {
    padding: 8px 30px;
    font-size: large;
  }
  .get p{
    width: 300px;
  }
  

  .topbar {
    padding-bottom: 0px;
  }

  .content-section {
    padding-bottom: 10px;
  }

  .plusIcon h1 {
    padding: 0;
    font-size: 30px;
  }

  .logo h1 {
    padding: 0;
    font-size: 30px;
  }

  .work a,
  .study a,
  .entertainment a,
  .family a {
    margin-left: 5px;
    font-size: 12px;
  }

  .work,
  .study,
  .entertainment,
  .family {
    padding: 5px 5px;
  }

  .work p,
  .study p,
  .entertainment p,
  .family p {
    height: 20px;
    width: 20px;
  }

  .bottom-left-1 p {
    height: 20px;
    width: 20px;
  }

  input {
    height: 15px;
    width: 15px;
  }



  .task-section {
    width: 100%;
    padding-bottom: 0px;
  }

  .task-section-1 {
    padding: 0 10px;
  }


  .task-bootom-1 {
    display: flex;
    justify-content: space-between;
  }

  .bottom-left-1 {
    display: flex;
    gap: 10px;
  }

  .bottom-left-1 p {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-top: 15px;
  }

  .check {
    display: flex;
    align-items: center;
    padding-top: 20px;
    gap: 10px;
  }

  .check input {
    height: 14px;
    width: 14px;
  }

  .check span {
    font-size: 14px;
  }


  .form {
    width: 300px;
    position: absolute;
    top: 50px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .input-sec {
    padding: 0px 20px;
  }

  .input-sec input {
    width: 100%;
    padding: 5px 0;
    padding-left: 10px;
    border: none;
    margin-bottom: 20px;
    border-radius: 5px;
  }

  textarea {
    width: 100%;
    padding: 5px 0;
    padding-left: 10px;
    border-radius: 5px;
  }

  .tags h2 {
    padding-top: 0px;
    text-align: center;
    font-size: 20px;
  }

  .tags-items {
    display: block;
  }

  .tags-items a {
    font-size: 12px;
  }

  /* .hover {
    position: absolute;
    right: 0px;
    top: 20px;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    color: gray;
  } */

  .hover .edit {
    padding: 5px 30px;
    padding-left: 10px;
  }

  .hover .delete {
    padding: 5px 30px;
    padding-left: 10px;
  }
}