* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.todo {
  background-color: #fffdff9d;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-bottom: 0;
}

.logo h1 {
  font-size: 50px;
  font-weight: bold;
  color: #646464;
  cursor: pointer;
}

.plusIcon h1 {
  font-size: 3rem;
  font-weight: bold;
  padding-right: 50px;
  color: #646464;
  cursor: pointer;
}

.content-section {
  display: flex;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.content-section .list-section {
  width: 20%;
  padding-left: 20px;
}

.content-section .task-section {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.task-section-1 {
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 50px;
}

.task-1 {
  background-color: #fff9de;
  padding: 10px;
  border-radius: 5px;
}

.work,
.study,
.entertainment,
.family {
  cursor: pointer;
  display: flex;
  padding: 10px;
  padding-left: 50px;
}

.work:hover,
.study:hover,
.entertainment:hover,
.family:hover {
  background-color: #f6f3f3;
  border-radius: 10px;
}

.work:active,
.study:active,
.entertainment:active,
.family:active {
  background-color: #f6f3f3;
}

.work p,
.study p,
.entertainment p,
.family p {
  height: 25px;
  width: 25px;
  border-radius: 100%;
}

.work p {
  background-color: #d2ceff;
}

.study p {
  background-color: #d1e5f7;
}

.entertainment p {
  background-color: #ffcece;
}

.family p {
  background-color: #daf2d6;
}

.work a,
.study a,
.entertainment a,
.family a {
  margin-left: 20px;
  text-decoration: none;
  color: #242424;
  font-size: 20px;
}

.checkbox {
  padding-top: 30px;
  display: flex;
}

.checkbox span {
  margin-left: 30px;
  color: #6d6d6d;
}

input.hide-checkbox {
  margin-left: 10px;
  width: 20px;
  height: 20px;
}

.task-bootom-1 {
  display: flex;
  justify-content: space-between;
}

.bottom-left-1 {
  display: flex;
  gap: 15px;
}

.bottom-left-1 p {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin-top: 15px;
}

input {
  width: 100%;
  height: 50px;
}

.check {
  display: flex;
  align-items: center;
  padding-top: 20px;
  gap: 10px;
}

.check input {
  height: 20px;
  width: 20px;
}

.p1 {
  background-color: #d2ceff;
}

.p2 {
  background-color: #d1e5f7;
}

.p3 {
  background-color: #ffcece;
}

.p4 {
  background-color: #daf2d6;
}

.task-top1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.hover-effect {
  cursor: pointer;
  z-index: 0;
}

.task-top1 {
  position: relative;
}

.hover {
  position: absolute;
  right: 0px;
  top: 20px;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
  color: gray;
}

.hover .edit {
  padding: 10px 50px;
  padding-left: 10px;
}

.hover .delete {
  padding: 10px 50px;
  padding-left: 10px;
}

.plusIcon {
  position: relative;
}

.form {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  background-color: #323232;
  opacity: .9;
  z-index: 2000000;
}

form {
  width: 40%;
  padding-bottom: 10px;
  background-color: #bebebc;
  position: absolute;
  top: 30%;
  left: 30%;
  border-radius: 10px;
}

.tags-items-form {
  display: flex;
  padding-left: 10px;
}

.work,
.study,
.entertainment,
.family {
  padding-left: 10px;
}

.tags-items-form .work a,
.tags-items-form .study a,
.tags-items-form .entertainment a,
.tags-items-form .family a {
  font-size: 16px;
}

.input-sec {
  padding: 0px 20px;
}

.input-sec input {
  width: 100%;
  padding: 10px 0;
  padding-left: 10px;
  border: none;
  margin-bottom: 20px;
  border-radius: 10px;
}

textarea {
  width: 100%;
  padding: 10px 0;
  padding-left: 10px;
  border: none;
  border-radius: 10px;
  height: 70px;
}

.btn-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

}

.btn-cancle {
  padding: 5px 40px;
  border-radius: 5px;
  border: none;
}

.btn-add {
  padding: 5px 40px;
  border-radius: 5px;
  border: none;
  background-color: #282828;
  color: white;
}

.tags h2 {
  padding-top: 20px;
  padding-left: 20px;
}

.tags-items {
  display: flex;
  padding: 0px 10px;
}

.tags-items a {
  font-size: 16px;
}

.tags h2 {
  color: #4f4e4e;
}

.edit-btn {
  padding: 5px 40px;
  border: none;
  border-radius: 5px;
  background-color: #2c2b2b;
  color: white;
}

.done {
  text-decoration: line-through;
}

.task-txt-1 {
  width: 100%;
  word-break: break-all;
}

.task-txt-1 p {
  padding-right: 20px;
}

.title-text {
  width: 100%;
  padding-right: 20px;
  word-break: break-all;
}

/* Loading page */
.loading-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.load {
  font-size: 7rem;
  color: gray;
  display: inline-block;
  position: relative;
}

.load::before {
  content: '';
  position: absolute;
  bottom: 50px;
  left: 0px;
  height: 10px;
  width: 0;
  background-color: gray;
  animation: borderFlow 2s linear infinite;
}

@keyframes borderFlow {
  0% {
    width: 0;
  }

  100% {
    width: 110%;
  }
}

/* get-started page */

.get-started {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: all 2s;
  animation: get 2s;
}

@keyframes get {
  0% {
    opacity: .1;
  }

  10% {
    opacity: .2;
  }

  20% {
    opacity: .3;
  }

  30% {
    opacity: .4;
  }

  40% {
    opacity: .5;
  }

  50% {
    opacity: .6;
  }

  60% {
    opacity: .7;
  }

  70% {
    opacity: .8;
  }

  80% {
    opacity: .9;
  }

  100% {
    opacity: 1;
  }
}

.get {
  text-align: center;
}

.get h1 {
  font-size: 7rem;
  letter-spacing: 10px;
}

.get h1 .t {
  color: #c3befa;
}

.get h1 .o {
  color: #badaf7;
}

.get h1 .d {
  color: #f9acac;
}

.get h1 .oo {
  color: #c9fcc0;
}

.get p {
  width: 400px;
  color: gray;
}

.get-btn {
  padding: 15px 50px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: x-large;
  border-radius: 10px;
  background-color: #4f4e4e;
  color: white;
  border: none;
  text-decoration: none;
}


/* Media Query */

/* max-width =1200 */
/* =============================================================== */

@media (max-width:1200px) {
  .content-section .task-section {
    width: 100%;
  }

  .task-section-1 {
    width: 100%;
  }

  form {
    width: 60%;
    height: auto;
    background-color: #bbbab9;
    position: absolute;
    left: 20%;
    top: 20%;
  }
}

/* max-width =992 */
/* =============================================================== */

@media (max-width:992px) {
  .content-section {
    display: block;
    padding: 0;
  }

  .content-section .list-section {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .work a,
  .study a,
  .entertainment a,
  .family a {
    padding-left: 10px;
    font-size: 16px;
  }

  .checkbox {
    display: none;
  }

  .content-section .task-section {
    width: 100%;
  }

  .task-section-1 {
    width: 100%;
  }

  .topbar {
    padding: 0 20px;
  }

  .plusIcon h1 {
    font-size: 3rem;
    padding-right: 10px;
  }

  form {
    width: 60%;
    height: auto;
    background-color: #bbbab9;
    position: absolute;
    left: 20%;
    top: 10%;
  }

  .tags h2 {
    padding-top: 10px;
    padding-left: 20px;
  }

  .tags-items-form {
    display: flex;
    padding: 10px;
  }

  .tags-items-form .work,
  .tags-items-form .study,
  .tags-items-form .entertainment,
  .tags-items-form .family {
    padding-left: 10px;
  }

  .tags-items-form .work a,
  .tags-items-form .study a,
  .tags-items-form .entertainment a,
  .tags-items-form .family a {
    font-size: 16px;
    padding-left: 0;
  }

  .task-section-1 {
    padding: 20px;
  }

  .list-section .work p,
  .list-section .study p,
  .list-section .entertainment p,
  .list-section .family p {
    height: 25px;
    width: 25px;
  }
}


/* max-width =768 */
/* =============================================================== */
@media (max-width:768px) {

  .load {
    font-size: 6rem;
  }

  .get h1 {
    font-size: 6rem;
  }

  .get-btn {
    padding: 10px 40px;
  }

  .load::before {
    content: '';
    position: absolute;
    bottom: 40px;
    left: 0px;
    height: 10px;
    width: 0;
    background-color: gray;
    animation: borderFlow 2s linear infinite;
  }

  .plusIcon h1 {
    padding: 0;
    font-size: 3rem;
  }

  .logo h1 {
    padding: 0;
    font-size: 40px;
  }

  .work,
  .study,
  .entertainment,
  .family {
    padding-left: 0px;
  }

  .work a,
  .study a,
  .entertainment a,
  .family a {
    margin-left: 10px;
    font-size: 16px;
  }

  .work p,
  .study p,
  .entertainment p,
  .family p {
    height: 20px;
    width: 20px;
  }

  .bottom-left-1 p {
    height: 20px;
    width: 20px;
  }

  input {
    height: 15px;
    width: 15px;
  }

  .task-section-1 {
    padding: 15px;
  }

  .tags h2 {
    padding-top: 5px;
    padding-left: 15px;
  }

  .tags-items-form {
    padding-left: 0;
  }

  .tags-items-form .work,
  .tags-items-form .study,
  .tags-items-form .entertainment,
  .tags-items-form .family {
    padding-left: 10px;
  }

  .tags-items-form .work a,
  .tags-items-form .study a,
  .tags-items-form .entertainment a,
  .tags-items-form .family a {
    font-size: 12px;
  }

  .tags-items-form .work p,
  .tags-items-form .study p,
  .tags-items-form .entertainment p,
  .tags-items-form .family p {
    height: 25px;
    width: 25px;
  }

  .tags-items-form a {
    font-size: 14px;
  }

  .load {
    font-size: 5rem;
  }

  .load::before {
    content: '';
    position: absolute;
    bottom: 35px;
    left: 0px;
    height: 8px;
    width: 0;
    background-color: gray;
    animation: borderFlow 2s linear infinite;
  }

  .get h1 {
    font-size: 5rem;
  }

  .get-btn {
    padding: 10px 30px;
    font-size: larger;
  }

  .topbar {
    padding-bottom: 20px;
  }

  .task-section {
    padding-top: 10px;
  }

  .plusIcon h1 {
    padding: 0;
    font-size: 30px;
  }

  .logo h1 {
    padding: 0;
    font-size: 30px;
  }

  .tags-items-form {
    display: flex;
  }

  form {
    width: 70%;
    height: auto;
    position: absolute;
    left: 15%;
    top: 20%;
  }

  input {
    height: 30px;
  }

  textarea {
    width: 100%;
    padding: 5px 0;
    padding-left: 10px;
    border-radius: 5px;
    height: 80px;
  }

  .tags h2 {
    font-size: 30px;
  }

  .tags-items-form {
    display: flex;
    padding-left: 30px;
    padding-right: 20px;
  }

  .tags-items-form .work a,
  .tags-items-form .study a,
  .tags-items-form .entertainment a,
  .tags-items-form .family a {
    margin-left: 5px;
    font-size: 16px;
  }

  .work,
  .study,
  .entertainment,
  .family {
    padding: 15px 5px;
  }

  .work p,
  .study p,
  .entertainment p,
  .family p {
    height: 30px;
    width: 30px;
  }

  .tags-items-form .work,
  .tags-items-form .study,
  .tags-items-form .entertainment,
  .tags-items-form .family {
    padding-left: 10px 10px;
  }

  .bottom-left-1 p {
    height: 20px;
    width: 20px;
  }

  .task-1 {
    padding: 5px;
  }

  .task-section {
    width: 100%;
    padding-bottom: 20px;
  }

  .task-section-1 {
    padding: 0px 10px;
    margin-bottom: 5px;
  }

  .task-bootom-1 {
    display: flex;
    justify-content: space-between;
  }

  .bottom-left-1 {
    display: flex;
    gap: 10px;
  }

  .bottom-left-1 p {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-top: 15px;
  }

  .check {
    display: flex;
    align-items: center;
    padding-top: 20px;
    gap: 10px;
  }

  .check input {
    height: 14px;
    width: 14px;
  }

  .check span {
    font-size: 14px;
  }

  .content-section .list-section {
    padding-left: 10px;
  }

  .input-sec {
    padding: 0px 20px;
  }

  .input-sec input {
    width: 100%;
    padding: 5px 0;
    padding-left: 10px;
    border: none;
    margin-bottom: 20px;
    border-radius: 5px;
  }


  .tags-items a {
    font-size: 12px;
  }

  .hover .edit {
    padding: 5px 30px;
    padding-left: 10px;
  }

  .hover .delete {
    padding: 5px 30px;
    padding-left: 10px;
  }
}

/* max-width = 600 */
/* ============================================= */
@media (max-width:600px) {
  .topbar{
    padding-bottom: 0;
  }

  .plusIcon h1 {
    font-size: 2.5rem;
  }

  .content-section .list-section {
    padding-left: 10px;
  }
  form {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 50px;
    border-radius: 0;
  }

  input {
    height: 50px;
  }

  textarea {
    width: 100%;
    padding: 5px 0;
    padding-left: 10px;
    border-radius: 5px;
    height: 100px;
  }

  .tags h2 {
    font-size: 40px;
  }

  .tags-items-form {
    display: block;
    padding-left: 0px;
  }

  .tags-items-form .work a,
  .tags-items-form .study a,
  .tags-items-form .entertainment a,
  .tags-items-form .family a {
    margin-left: 5px;
    font-size: 20px;
  }

  .tags-items-form .work p,
  .tags-items-form .study p,
  .tags-items-form .entertainment p,
  .tags-items-form .family p {
    height: 30px;
    width: 30px;
  }

  .work,
  .study,
  .entertainment,
  .family {
    padding: 15px 5px;
  }

  .work a,
  .study a,
  .entertainment a,
  .family a {
    font-size: 14px;
  }

  .work p,
  .study p,
  .entertainment p,
  .family p {
    height: 20px;
    width: 20px;
  }
}

/* max-width = 400 */
/* ============================================= */
@media (max-width:400px) {
  .topbar {
    padding-left: 5px;
    padding-right: 0px;
  }
  
  .plusIcon h1 {
    font-size: 2rem;
    padding-right: 20px;
  }

  .load {
    font-size: 4rem;
  }

  .load::before {
    content: '';
    position: absolute;
    bottom: 25px;
    left: 0px;
    height: 7px;
    width: 0;
    background-color: gray;
    animation: borderFlow 2s linear infinite;
  }

  form {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 50px;
    border-radius: 0;
  }

  .tags h2 {
    font-size: 40px;
  }

  .tags-items-form {
    padding-left: 30px;
    padding-right: 20px;
  }

  .tags-items-form .work a,
  .tags-items-form .study a,
  .tags-items-form .entertainment a,
  .tags-items-form .family a {
    margin-left: 5px;
    font-size: 16px;
  }

  .tags-items-form .work p,
  .tags-items-form .study p,
  .tags-items-form .entertainment p,
  .tags-items-form .family p {
    height: 30px;
    width: 30px;
  }

  .get h1 {
    font-size: 4rem;
  }

  .get-btn {
    padding: 8px 30px;
    font-size: large;
  }

  .get p {
    width: 300px;
  }

  .topbar {
    padding-bottom: 0px;
  }

  .content-section {
    padding-bottom: 10px;
  }


  .logo h1 {
    padding: 0;
    font-size: 30px;
  }

  .list-section .work a,
  .list-section .study a,
  .list-section .entertainment a,
  .list-section .family a {
    margin-left: -5px;
    font-size: 10px;
  }

  .list-section .work,
  .list-section .study,
  .list-section .entertainment,
  .list-section .family {
    padding: 5px 10px;
  }

  .list-section .work p,
  .list-section .study p,
  .list-section .entertainment p,
  .list-section .family p {
    height: 15px;
    width: 15px;
  }

  .bottom-left-1 p {
    height: 20px;
    width: 20px;
  }

  input {
    height: 15px;
    width: 15px;
  }

  .task-section {
    width: 100%;
    padding-bottom: 0px;
  }

  .content-section .list-section {
    padding: 0;
  }

  .task-section-1 {
    padding: 0 10px;
  }


  .task-bootom-1 {
    display: flex;
    justify-content: space-between;
  }

  .bottom-left-1 {
    display: flex;
    gap: 10px;
  }

  .bottom-left-1 p {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-top: 15px;
  }

  .check {
    display: flex;
    align-items: center;
    padding-top: 20px;
    gap: 10px;
  }

  .check input {
    height: 14px;
    width: 14px;
  }

  .check span {
    font-size: 14px;
  }

  .input-sec {
    padding: 0px 20px;
  }

  .input-sec input {
    width: 100%;
    height: 50px;
    padding: 5px 0;
    padding-left: 10px;
    border: none;
    margin-bottom: 20px;
    border-radius: 5px;
  }

  textarea {
    width: 100%;
    padding: 5px 0;
    padding-left: 10px;
    border-radius: 5px;
  }

  .tags h2 {
    padding-top: 0px;
    text-align: center;
    font-size: 20px;
  }

  .tags-items-form {
    display: block;
  }

  .tags-items a {
    font-size: 12px;
  }

  .hover .edit {
    padding: 5px 30px;
    padding-left: 10px;
  }

  .hover .delete {
    padding: 5px 30px;
    padding-left: 10px;
  }
}

/* max-width =300 */
/* ============================================================= */

@media (max-width:300px) {

  .topbar {
    padding: 5px;
  }
  
  .plusIcon h1 {
    font-size: 1rem;
    padding: 0;
  }

  .content-section .list-section {
    padding-left: 0px;
  }

  form {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 50px;
    border-radius: 0;
  }

  .tags h2 {
    font-size: 40px;
  }

  .tags-items-form {
    padding-left: 30px;
    padding-right: 20px;
  }

  .tags-items-form .work a,
  .tags-items-form .study a,
  .tags-items-form .entertainment a,
  .tags-items-form .family a {
    margin-left: 5px;
    font-size: 16px;
  }

  .tags-items-form .work p,
  .tags-items-form .study p,
  .tags-items-form .entertainment p,
  .tags-items-form .family p {
    height: 20px;
    width: 20px;
  }

  .content-section {
    padding-bottom: 10px;
  }

  .plusIcon h1 {
    padding: 0;
    font-size: 30px;
  }

  .logo h1 {
    padding: 0;
    font-size: 30px;
  }

  .list-section .work a,
  .list-section .study a,
  .list-section .entertainment a,
  .list-section .family a {
    margin-left: -5px;
    font-size: 10px;
  }

  .list-section .work p,
  .list-section .study p,
  .list-section .entertainment p,
  .list-section .family p {
    height: 15px;
    width: 15px;
  }

  .btn-add {
    padding: 5px 20px;
  }

  .btn-cancle {
    padding: 5px 20px;
  }

  .task-section-1 {
    padding: 0 10px;
  }

  .tags h2 {
    font-size: 30px;
  }
}